.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

a.dark-theme {
    color: #bb86fc;
    text-decoration: none;
}

a.dark-theme:hover {
    color: #3700b3;
}

button.dark-theme {
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.dark-theme:hover {
    background-color: #bb86fc;
    color: #000000;
}

input.dark-theme {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #333333;
    padding: 5px;
}

input.dark-theme::placeholder {
    color: #aaaaaa;
}